body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
button{
    width: 100px;
    height: 100px;
    margin: 30px;

}
.cross{
    transition: 0.5s;
    transform: rotate(45deg);
    background-image: linear-gradient(red, yellow);
}
.circle{
    transition: 0.5s;
    border-radius: 50%;
    background-image: linear-gradient(blue, aqua);
}
a{
    color: antiquewhite;
}
a:hover{
    color: azure;
}
#banner{
    background-color: black;
    color : white;
    text-align: center;
}
@media screen and (max-width: 700px) {
    button{
        width: 70px;
        height: 70px;
        margin: 20px;
    
    }
}